<!-- <div class="container py-5">
  <form action="" class="mx-auto" style="max-width: 25rem;" #form="ngForm" (ngSubmit)="login(form)">

    <h1 class="mb-5 text-center">Inicio de Sesión</h1>

    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="cred.email">
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control"  [(ngModel)]="cred.password">
    </div>

    <div>
      <button class="btn btn-lg btn-primary">Ingresar</button>
    </div>

  </form>
</div> -->

<div class="limiter">
  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-logo">
          <i class="zmdi zmdi-landscape"></i>
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
          Log In
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <input class="input100" type="text" name="username" placeholder="Email">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" placeholder="Contraseña">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Recordar
          </label>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

        <div class="text-center p-t-90">
          <a class="txt1" href="#">
            Forgot Password?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
